<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="drag-container">
        <div class="section-heading">Still Doing</div>
        <div cdkDropList #pendingList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]"
             class="item-list" (cdkDropListDropped)="drop($event)">
          <div class="item-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="drag-container">
        <div class="section-heading">Done</div>
        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[pendingList]"
             class="item-list" (cdkDropListDropped)="drop($event)">
          <div class="item-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
